%h2
  = @mailing_schedule.name
%br
%p
  %b
    Template: 
  = @mailing_schedule.template.name
%p
  %b
    City Hall: 
  = @mailing_schedule.city_hall.name
%p
  %b
    Date: 
  = @mailing_schedule.date

= image_tag @mailing_schedule.snapshot

%br
%br

= link_to 'Edit', edit_mailing_schedule_path(@mailing_schedule), :class => "button radius"
= link_to 'Back', mailing_schedules_path, :class => "button radius alert"
