!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Mailing'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Mailing'}"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    -# Modernizr is required for Zurb Foundation
    = javascript_include_tag 'vendor/modernizr'
    = javascript_include_tag 'application', params[:controller], 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
      = render 'layouts/navigation'
    %main{:role => "main"}
      .row
        .small-12.large-12
          = render 'layouts/messages'
          = yield
    %footer
      .row
        .small-12.larger-12
          © Benjamin Desmarez 2014 - All rights reserved.
